@font-face {
  font-family: 'icomoon';
  src:  url('fonts/fish_icomoon.eot?tqs42d');
  src:  url('fonts/fish_icomoon.eot?tqs42d#iefix') format('embedded-opentype'),
    url('fonts/fish_icomoon.ttf?tqs42d') format('truetype'),
    url('fonts/fish_icomoon.woff?tqs42d') format('woff'),
    url('fonts/fish_icomoon.svg?tqs42d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fish-solid:before {
  content: "\e801";
}
